@import (less) './Theme.css';

@font-face {
    font-family: icons;
    src: url(./Icon.woff2) format('woff2'), url(./Icon.woff) format('woff'), url(./Icon.otf) format('opentype');
}

.Icon {
    @font: icons;

    width: @cell;
    display: inline-block;
    font-family: @font;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}
